bg3.jpeg filter=lfs diff=lfs merge=lfs -text
bg4.jpeg filter=lfs diff=lfs merge=lfs -text
bg0.jpeg filter=lfs diff=lfs merge=lfs -text
bg1.jpeg filter=lfs diff=lfs merge=lfs -text
bg2.jpeg filter=lfs diff=lfs merge=lfs -text
